<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle Reforma</title>
</head>
<body>
  <h1>Reforma del a침o <%= reforma.year %></h1>
  <p>
        <% if (reforma.id_architect) { %>
            <a href="/arquitectos/<%= reforma.id_architect%>">Arquitecto que realiz칩 la reforma: <span id="arch-name"></span></a>
        <% } else { %>
            <p>No se realiz칩 ninguna reforma o no se sabe que arquitecto fue asignado</p>
        <% } %>
    </p>

  <a href="/reformas">Volver al listado</a>
</body>
</html>

<script>
   (function(){
                      const protId = "<%= reforma.id_architect %>";
                    fetch('/arquitectos/' + protId + '/name')
                        .then(response => {
                            if (!response.ok) throw new Error('No encontrado');
                            return response.json();
                        })
                        .then(data => {
                            const nameEl = document.getElementById('arch-name');
                            if (data && data.name) nameEl.textContent = data.name;
                        })
                        .catch(() => {
                            // Dejar el id si falla la petici칩n
                        });
                })();
</script>