<!DOCTYPE html>
<html lang="ca">

<head>
    <%- include('../partials/head', { title: 'Nova Publicació', cssType: 'form' }) %>
</head>

<body>
    <!-- Encabezado del formulario -->
    <%- include('../partials/headerForm', { backUrl: '/publications', title: 'Nova Publicació' }) %>

    <!-- Contenedor principal del formulario -->
    <main class="flex-container">
        <section class="form-container">
            <!-- Formulario para añadir nueva publicació -->
            <form id="main-form">
                <!-- Campos del formulario -->
                <div class="form-group">
                    <label for="title">Títol:<span class="required">*</span></label>
                    <input type="text" id="title" name="title" required />
                </div>

                <div class="form-group">
                    <label for="description">Descripció:</label>
                    <textarea id="description" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="themes">Temàtica:<span class="required">*</span></label>
                    <select id="themes" name="themes" required multiple>
                        <option value="etapes">Etapes</option>
                        <option value="arquitectura tematica">Arquitectura Temàtica</option>
                        <option value="barris">Barris</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="acknowledgment">Agradecimientos:</label>
                    <textarea id="acknowledgment" name="acknowledgment"></textarea>
                </div>

                <div class="form-group">
                    <label for="publication_edition">Edició publicació:<span class="required">*</span></label>
                    <input type="text" id="publication_edition" name="publication_edition" required />
                </div>

                <!-- Este es el apartado del MultiSelec para poder seleccionar más de una opción en el formulario -->
                <div class="form-group">
                    <label for="typologies">Tipologies Relacionades:</label>
                    <select id="typologies" name="selectedTypologies" multiple>
                        <% if (typologies && typologies.length> 0) { %>
                            <% typologies.forEach(t=> { %>
                                <option value="<%= t.id_typology %>">
                                    <%= t.name %>
                                </option>
                                <% }) %>
                                    <% } %>
                    </select>
                </div>
            </form>
        </section>
    </main>

    <!-- Script MultiSelect -->
    <script src="/scripts/MultiSelect.js"></script>
    <!-- Script con la lógica del formulario -->
    <script src="/scripts/publications/create.js"></script>
</body>

</html>