<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= building.name %> - Detalle</title>
</head>
<body>
    <h1>Nombre: <%= building.name %></h1>
    <p>Descripción: <%= building.description %></p>
    <p>Imagen <img src="../public/images/buildings/provisional.png" /></p>

    <a href="/construcciones">Volver al listado</a>
</body>
</html>
