<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
  <h1>Bienvenido</h1>
  <p>Selecciona una sección:</p>

  <ul>
    <li><a href="/arquitectos">Ver arquitectos</a></li>
    <li><a href="/publicaciones">Ver publicaciones</a></li>
    <li><a href="/reformas">Reformas</a></li>
    <li><a href="/login">Iniciar sesión</a></li>
  </ul>
</body>

</html>