<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div class="logo-container">
        <img src="/images/globus_vermell.png" alt="Logo Globus Vermell">
    </div>
    <div class="container">

        <div class="form-container" id="login-section">
            <h2>Inici de sessió</h2>
            <form id="login-form" action="/" method="POST" autocomplete="off">
                <label for="login-username">Usuari</label>
                <input type="text" id="login-username" name="username" placeholder="Nom d'usuari" required />

                <label for="login-password">Contrasenya</label>
                <input type="password" id="login-password" name="password" placeholder="Contrasenya" required />

                <button type="submit">Entrar</button>
            </form>
            <div class="message">
                <%= error %>
            </div>
            <div class="footer-message">Projecte elaborat pel ITB amb conjunt del Globus Vermell</div>
        </div>
    </div>
</body>

</html>