<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle Reforma</title>
</head>
<body>
  <h1>Reforma del año <%= reforma.year %></h1>

  <p><strong>ID del Arquitecto:</strong> <%= reforma.id_architect %></p>

  <a href="/reformas">Volver al listado</a>
</body>
</html>