<!DOCTYPE html>
<html lang="ca">

<head>
    <%- include('../partials/head', { title: 'Nova Reforma' , cssType: 'form' }) %>
</head>

<body>
    <!-- Encabezado del formulario -->
    <%- include('../partials/headerForm', { backUrl: '/reforms' , title: 'Nova Reforma' }) %>

        <!-- Contenedor principal del formulario -->
        <main class="flex-container">
            <section class="form-container">
                <!-- Formulario para añadir nueva reforma -->
                <form id="main-form" class="api-form" action="/reforms/create" method="POST">
                    <!-- Campos del formulario -->
                    <div class="form-group">
                        <label for="year">Any de reforma</label>
                        <input type="number" id="year" name="year" />
                    </div>

                    <div class="form-group">
                        <label for="id_architect">Arquitecte responsable <span class="required">*</span></label>
                        <select id="id_architect" name="id_architect" required>
                            <option value="">-- Selecciona un arquitecte --</option>
                            <% if (architects && architects.length> 0) { %>
                                <% architects.forEach(arq=> { %>
                                    <option value="<%= arq.id_architect %>">
                                        <%= arq.name %>
                                    </option>
                                    <% }) %>
                                        <% } %>
                        </select>
                    </div>
                </form>
            </section>
        </main>

</body>

</html>