<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= architect.name %> - Detalle</title>
</head>
<body>
    <h1><%= architect.name %></h1>
    <p><%= architect.description %></p>

    <a href="/arquitectos">Volver al listado</a>
</body>
</html>
