<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Protecci贸</title>
    <link rel="stylesheet" href="/css/createForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="form-header">
        <a href="/protection" class="back-link"><i class="fas fa-arrow-left"></i></a>
        <h1 class="page-title">Nova Protecci贸</h1>
    </header>

    <main class="form-container">
        <form id="form-protection">
            <div class="form-group">
                <label for="level">Nivell <span class="required">*</span></label>
                <input type="text" id="level" name="level" required />
            </div>

            <div class="form-group">
                <label for="description">Descripci贸</label>
                <textarea id="description" name="description"></textarea>
            </div>

            <button type="submit" class="submit-button"><i class="fas fa-save"></i> Guardar Protecci贸</button>
        </form>
    </main>

    <script src="/scripts/protection/protectionForm.js"></script>
</body>
</html>