<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reformes</title>
</head>
<body>
  <h1>Llistat de Reformes</h1>

  <% if (reformas && reformas.length > 0) { %>
    <ul>
      <% reformas.forEach(reforma => { %>
        <li>
          Reforma del año <strong><%= reforma.year %></strong> 
          (Arquitecto ID: <%= reforma.id_architect %>)  
          — <a href="">Veure detall</a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No hi ha reformes registrades.</p>
  <% } %>
    <a href="/">Tornar al menú principal</a>
    <a href="/reform/form">Afegir nova reforma</a>

</body>
</html>