<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reformes</title>
</head>
<body>
  <h1>Llistat de Reformes</h1>

  <% if (reformas && reformas.length > 0) { %>
    <ul>
      <% reformas.forEach(reforma => { %>
        <li>
          Reforma del año <strong><a href="/reform/edit/<%= reforma.id_reform %>"><%= reforma.year %></a></strong> 
          (Arquitecto ID: <%= reforma.id_architect %>)  
          <button type="button" onclick="deleteReform('<%= reforma.id_reform %>')">Eliminar</button>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No hi ha reformes registrades.</p>
  <% } %>
    <a href="/">Tornar al menú principal</a>
    <a href="/reform/form">Afegir nova reforma</a>
    <script>
      async function deleteReform(id) {
        if (!confirm("Segur que vols eliminar aquesta reforma?")) return;

        try {
          const res = await fetch(`/reform/delete/${id}`, {
            method: "DELETE"
          });

          const data = await res.json();
          alert(data.message);

          if (data.success) location.reload();
        } catch (err) {
          console.error(err);
          alert("Error al eliminar la reforma");
        }
      }
    </script>
</body>
</html>